:root {
	--first-color: #3E0E12;
	--first-color-dark: #2F0A0D;
	--text-color: #524748;
	--first-color-light: #7B6F71;
	--first-color-lighten: #FBF9F9;

}
	$color-primary-light: #008df5;
	$color-primary: #007afc;

	$color-secondary: #febd01;

	$color-light: #ffffff;

	$color-dark: #242324;
	$color-dark-dark: #1b191d;
	$color-dark-light: #292c32;
	$color-dark-accent: #707070;