@use '../util' as *;
/*===== LAYOUT =====*/

	/*===== Margenes =====*/
$mb-1:.5rem;
$mb-2:1rem;
$mb-3:1.5rem;
$mb-4:2rem;
$mb-5:2.5rem;
$mb-6:3rem;
	/*===== z index =====*/
$z-normal:1;
$z-tooltip:10;
$z-fixed:100;

.hidden{
position: absolute;
left: -9999px;
top: -9999px;
visibility: hidden;
}
.bd-container {
	max-width: 1024px;
	width: calc(100% - 2rem);
	margin-left: $mb-2;
	margin-right: $mb-2;
}

.bd-grid {
	display: grid;
	gap: 1.5rem;
}

.l-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-fixed;
	background-color: #008df5;
}
