@use 'globals';
/*===== NAV =====*/
.nav {
	height: globals.$header-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


@media screen and(max-width:768px) {

	.nav__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		padding-top: 1.5rem;
		text-align: center;
		background-color: #000 ;
		transition: .5s;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
		border-radius: (0 0 1rem 1rem);

	}
}

.nav__item {
	margin-bottom: var(--mb-3);
}


.nav__link {
	color: var(--first-color-lighten);
}


.nav__link:hover {
	color: globals.$color-secondary;
}

.nav__logo,
.nav__toggle {
	color: var(--first-color-lighten);
	font-weight: globals.$font-bold;
}

.nav__toggle {
	font-size: 1.3rem;
	cursor: pointer;
}